---
layout: page
title: Projects
permalink: /project/
---

{% if site.projects.size == 0 %}
  <h2>No project found</h2>
{% endif %}

<div class="tags">
  {% for project in site.projects %}
    {% capture this_year %}
      {{ project.date | date: "%Y" }}
    {% endcapture %}

    {% capture next_type %}
      {{ project.next.date | date: "%Y" }}
    {% endcapture %}

    {% if forloop.first %}
      <h2 id="{{ this_year }}">
        {{ this_year }}
      </h2>
      <ul class="tag">
    {% endif %}

    <li>
      {% if project.link %}
        <a href="{{ project.link }}">
      {% else %}
        <a href="{{ site.baseurl }}{{ project.url }}">
      {% endif %}
          {{ project.title }}
        </a>
        <time>{{ project.date | date: "%Y-%m-%d" }}</time>
    </li>

    {% if forloop.last %}
      </ul>
    {% else %}
      {% if this_year != next_type %}
        </ul>

        <h2 id="{{ next_year }}">
          {{ next_year }}
        </h2>
        <ul class="tag">
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
