<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>

<meta name="description" content="{{ site.description }}">

<link rel="shortcut icon" href="{{ '/img/favicon/favicon.ico' | prepend:site.url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon/favicon-32x32.png' | prepend:site.url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon/favicon-16x16.png' | prepend:site.url }}">
<link rel="manifest" href="{{ '/img/favicon/site.webmanifest' | prepend:site.url }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet"> 

<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{ '/css/normalize.css' | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/css/app.css' | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/css/syntax.css' | prepend: site.url }}">