header{
	border-bottom: $border-bottom;
	margin-bottom: 1.5rem;
	&.post{
		h1{
			margin-bottom: 0;
			font-size: 3rem;
		}
	}
	.data{
		margin-bottom: 1rem;
	}
	time{
		color: $gray-3;
	}
}

h1{
	margin-bottom: 1rem;
}

section{
	margin-bottom: 2rem;
	h2{
		color: $black-darker;
		margin-bottom: .5rem;
	}
}

.list {
	li{
		display: flex;
		align-items: center;
		padding: 2px 0;
	}
	time{
		font-size: smaller;
		color: $gray-3;
		width: 135px;
		margin-right: 10px;
		display: block;
	}	
}

article{
	p, h2, h3, pre, img, ul, blockquote{
		margin-bottom: 1.5rem;
	}
	h2{
		margin-top: 2rem;
	}
	code.language-plaintext{
		padding: .1rem .3rem;
		font-size: .9rem;
		border-radius: .3rem;
		border: 1px solid $gray;
		background-color: $gray-2;
	}
	.highlight pre{
		padding: 1rem;
		font-size: .9rem;
		white-space: pre-wrap;
	}
	img{
		display: block;
		margin: auto;
		padding: 10px;
		border: 1px solid $gray;
		border-radius: 10px;
	}
	ul{
		padding: 10px 20px;
		margin-left: 20px;
		list-style: square;
	}
	blockquote{
		font-style: italic;
		color: $gray-3;
		border-left: .5rem solid $gray;
		padding-left: 1rem;
	}
}

footer{
	.container{
		display: flex;
		padding: 1rem 0;
		.title{
			color: $black;
			margin-right: 10px;
		}
	}
	a{
		color: $gray-3;
		margin-right: 1
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		a{
			padding: 10px;
		}
	}
}

.search{
	margin-bottom: 1rem;
	input{
		width: 100%;
		border: 1px solid $gray;
		padding: 10px 1rem;
		font-size: 1rem;
		margin-bottom: .5rem;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	time{
		font-size: smaller;
		color: $gray-3;
		margin-right: 1rem;
	}
}

@media (max-width: 570px) {
	table{
		border-collapse: separate;
		border-spacing: 0 1rem;
	}
	time{
		display: none !important;
	}
}