$white: #FAFAFA;
$gray: #E0E0E0;
$gray-2: #F5F5F5;
$gray-3: #999999;
$black: #292929;
$black-darker: #525252;
$blue: #0F80D2;
$red: #DB5461;

$body-bg: $white;
$body-font: 'PT Serif';
$body-color: $black;
$body-line: 1.7;
$body-size: 18px;

$breakpoint: 768px;