{{ define "main" }}
  <div class="space-y-6 mb-6">
    {{ $paginator := (.Paginate (where .Site.RegularPages "Section" "blog") 5)}}
    {{ range $paginator.Pages }}
      <article class="border-b border-neutral-200 dark:border-neutral-700 pb-5">
        <h2 class="font-bold text-neutral-900 dark:text-white text-2xl mb-2">
          <a href="{{ .Permalink }}" class="hover:underline">
            {{ .Title }}
          </a>
        </h2>
        <div class="flex items-center space-x-2 mb-2 text-neutral-700 dark:text-neutral-300">
          {{ range .Params.tags }}
            <a href="/tags/{{ . }}" class="text-neutral-900 dark:text-white underline">{{ . }}</a>
          {{ end }}
          <span>-</span>
          <time>{{ .Date.Format "2 January 2006" }}</time>
        </div>
        <p class="leading-relaxed mb-2">{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="text-neutral-900 dark:text-white underline">Read More</a>
      </article>
    {{ end }}
    
    {{ template "_internal/pagination.html" $paginator }}
  </div>
{{ end }}