---
layout: default
---

<article>
  <div class="meta">
    <a href="/"><svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
    </svg></a>
    <time>{{ page.date | date: "%d %B %Y" }}</time>
  </div>
  <h1>{{ page.title }}</h1>
  {{ content }}
</article>

<section>
  <script
    async
    src="https://utteranc.es/client.js"
    repo="ibrahimalanshor/untu"
    issue-term="title"
    theme="github-light"
    crossorigin="anonymous"
  ></script>
</section>